<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>  
    <script src="https://kit.fontawesome.com/b85eb17943.js" crossorigin="anonymous"></script>
    <style>
    </style>
    
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid"  style="background-color: rgb(223, 107, 39);">
      <a class="navbar-brand" href="/iTracker/" style="color: black;">Team Issue Tracker</a>
  </nav>
   
    <br>
    <div class="container-sm rounded"  style="background-color: whitesmoke;">
      <center><h1> <b>iTracker</b> </h1></center>
      {% load static %}
          <center><img src="{% static 'iTracker/ladybug.jpg' %}" alt="logo"></center>
        
        <form action = "/iTracker/logIn/validate" method="post">

          {% csrf_token %}
          <!-- Email input -->
          <br>
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Username</label>
            <input type="username" class="form-control" name='user' value=""/>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" class="form-control" name='pass' value=""/>
          </div>
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""  checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
        
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4" onclick="">Sign in</button>
        
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="/iTracker/logInPage">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
      </div>
</body>
</html>